body {
    background-color: black;
    text-align: center;
}

/* Header */
header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

header p {
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

/* Video */
.video {
    margin-top: 30px;
}

/* Guide */
.guide h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.guide p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

/* Coming Soon */
.coming-soon img {
    margin-top: 40px;
}

.coming-soon h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.coming-soon p {
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

.coming-soon h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    color: gray;
}